{% load static %}
<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-7 col-md-6 ">
							<h6 class="text-white ">the Royal Essence of Journey</h6>
							<h1 class="text-white text-uppercase">
								Relaxed Journey Ever
							</h1>
							<p class="pt-20 pb-20 text-white">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							</p>
							<a href="#" class="primary-btn text-uppercase">Rent Car Now</a>
						</div>
						<div class="col-lg-5  col-md-6 header-right">
							<h4 class="text-white pb-30">Book Your Car Today!</h4>
							<form class="form" role="form" autocomplete="off">
							    <div class="form-group">
							       	<div class="default-select" id="default-select"">
										<select>
											<option value="" disabled selected hidden>Select Your Car</option>
											<option value="1">BMW</option>
											<option value="1">Farrari</option>
											<option value="1">Toyota</option>
										</select>
									</div>
							    </div>
							    <div class="form-group row">
							        <div class="col-md-6 wrap-left">
								       	<div class="default-select" id="default-select"">
											<select>
												<option value="" disabled selected hidden>Pickup</option>
												<option value="1">Pickup One</option>
												<option value="1">Pickup Two</option>
												<option value="1">Pickup Three</option>
												<option value="1">Pickup Four</option>
											</select>
										</div>
							        </div>
							        <div class="col-md-6 wrap-right">
										<div class="input-group dates-wrap">
											<input id="datepicker" class="dates form-control" id="exampleAmount" placeholder="Date & time" type="text">
											<div class="input-group-prepend">
												<span  class="input-group-text"><span class="lnr lnr-calendar-full"></span></span>
											</div>
										</div>
							        </div>
							    </div>
							    <div class="form-group row">
							        <div class="col-md-6 wrap-left">
								       	<div class="default-select" id="default-select"">
											<select>
												<option value="" disabled selected hidden>Drop off</option>
												<option value="1">Drop off One</option>
												<option value="1">Drop off Two</option>
												<option value="1">Drop off Three</option>
												<option value="1">Drop off Four</option>
											</select>
										</div>
							        </div>
							        <div class="col-md-6 wrap-right">
										<div class="input-group dates-wrap">
											<input id="datepicker2" class="dates form-control" id="exampleAmount" placeholder="Date & time" type="text">
											<div class="input-group-prepend">
												<span  class="input-group-text"><span class="lnr lnr-calendar-full"></span></span>
											</div>
										</div>
							        </div>
							    </div>
							    <div class="from-group">
							    	<input class="form-control txt-field" type="text" name="name" placeholder="Your name">
							    	<input class="form-control txt-field" type="email" name="email" placeholder="Email address">
							    	<input class="form-control txt-field" type="tel" name="phone" placeholder="Phone number">
							    </div>
							    <div class="form-group row">
							        <div class="col-md-12">
							            <button type="reset" class="btn btn-default btn-lg btn-block text-center text-uppercase">Confirm Car Booking</button>
							        </div>
							    </div>
							</form>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->






	<!-- Start home-about Area -->
			<section class="home-about-area" id="about">

				<div class="container-fluid">
			<h1>Day Of Cars</h1><hr>
					<div class="row justify-content-center align-items-center">
{% for rs in dayproducts %}
						<div class="col-lg-6 no-padding home-about-left">


						<div class="row align-items-center single-model item">
							<div class="col-lg-6 model-left">
								<div class="title justify-content-between d-flex">
									<h4 class="mt-20">{{ rs.title }}</h4>
									<h2>TL{{ rs.price }}<span>/GÜNLÜK</span></h2>
								</div>
								<p>
									{{ rs.keywords }}
								</p>
								<p>
									{{ rs.description }}<br>
									{{ rs.detail|safe }}
								</p>
								<a class="text-uppercase primary-btn" href="/product/{{ rs.id }}/{{ rs.slug }}">Book This Car Now</a>
							</div>
							<div class="col-lg-6 model-right">
								<img class="img-fluid" src="{{ rs.image.url }}" alt="" style="height: 300px">
							</div>
						</div>


						<div class="col-lg-6 no-padding home-about-right">

						</div>

					</div>
{% endfor %}
				</div>

				</div>

			</section>
			<!-- End home-about Area -->

<br><br><br><br><br><br><br><br><br>



	<!-- Start home-about Area -->
			<section class="home-about-area" id="about">

				<div class="container-fluid">
			<h1>Last Of Cars</h1><hr>
					<div class="row justify-content-center align-items-center">
{% for rs in lastproducts %}
						<div class="col-lg-6 no-padding home-about-left">


						<div class="row align-items-center single-model item">
							<div class="col-lg-6 model-left">
								<div class="title justify-content-between d-flex">
									<h4 class="mt-20">{{ rs.title }}</h4>
									<h2>TL{{ rs.price }}<span>/GÜNLÜK</span></h2>
								</div>
								<p>
									{{ rs.keywords }}
								</p>
								<p>
									{{ rs.description }}<br>
									{{ rs.detail|safe }}
								</p>
								<a class="text-uppercase primary-btn" href="/product/{{ rs.id }}/{{ rs.slug }}">Book This Car Now</a>
							</div>
							<div class="col-lg-6 model-right">
								<img class="img-fluid" src="{{ rs.image.url }}" alt="" style="height: 300px">
							</div>
						</div>


						<div class="col-lg-6 no-padding home-about-right">

						</div>

					</div>
{% endfor %}
				</div>

				</div>

			</section>
			<!-- End home-about Area -->


<br><br><br><br><br><br><br><br><br>



	<!-- Start home-about Area -->
			<section class="home-about-area" id="about">

				<div class="container-fluid">
			<h1>Random Of Cars</h1><hr>
					<div class="row justify-content-center align-items-center">
{% for rs in randomproducts %}
						<div class="col-lg-6 no-padding home-about-left">


						<div class="row align-items-center single-model item">
							<div class="col-lg-6 model-left">
								<div class="title justify-content-between d-flex">
									<h4 class="mt-20">{{ rs.title }}</h4>
									<h2>TL{{ rs.price }}<span>/GÜNLÜK</span></h2>
								</div>
								<p>
									{{ rs.keywords }}
								</p>
								<p>
									{{ rs.description }}<br>
									{{ rs.detail|safe }}
								</p>
								<a class="text-uppercase primary-btn" href="/product/{{ rs.id }}/{{ rs.slug }}">Book This Car Now</a>
							</div>
							<div class="col-lg-6 model-right">
								<img class="img-fluid" src="{{ rs.image.url }}" alt="" style="height: 300px">
							</div>
						</div>


						<div class="col-lg-6 no-padding home-about-right">

						</div>

					</div>
{% endfor %}
				</div>

				</div>

			</section>
			<!-- End home-about Area -->
