{% extends "base.html" %}

{% block title %} {{ categorydata.title }} {% endblock %}
{% block keywords %} {{ categorydata.keywords }} {% endblock %}
{% block description %} {{ categorydata.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}



{% block content %}

<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Araçlar
							</h1>
							<p class="text-white link-nav"><a href="/">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="#">{{ categorydata.title }}</a></p>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

				<!-- Start home-about Area -->
			<section class="home-about-area" id="about">

				<div class="container-fluid">

					<div class="row justify-content-center align-items-center">

						<div class="col-lg-6 no-padding home-about-left">
{% for rs in products %}

						<div class="row align-items-center single-model item">
							<div class="col-lg-6 model-left">
								<div class="title justify-content-between d-flex">
									<h4 class="mt-20">{{ rs.title }}</h4>
									<h2>TL{{ rs.price }}<span>/GÜNLÜK</span></h2>
								</div>
								<p>
									{{ rs.keywords }}
								</p>
								<p>
									{{ rs.description }}<br>
									{{ rs.detail|safe }}
								</p>
								<a class="text-uppercase primary-btn" href="/product/{{ rs.id }}/{{ rs.slug }}">Book This Car Now</a>
							</div>
							<div class="col-lg-6 model-right">
								<img class="img-fluid" src="{{ rs.image.url }}" alt="" style="height: 300px">
							</div>
						</div>


						<div class="col-lg-6 no-padding home-about-right">

						</div>
{% endfor %}
					</div>

				</div>

				</div>

			</section>
			<!-- End home-about Area -->



{% endblock %}